<h1>My Tasks</h1>

<% @tasks.each do |t| %>
  <%if t.completed %>
    <p> <%= link_to t.title, task_path(t) %></p>
    <%= link_to "Delete #{@t}",
            task_path(t),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  <% else %>
    <p><i class="far fa-check-square"></i> <%= link_to t.title, task_path(t) %></p>
    <%= link_to "Delete #{@t}",
            task_path(t),
            method: :delete,
            data: { confirm: "Are you sure?" } %>
  <% end %>
<% end %>


<%= link_to "Create Task", tasks_new_path, class: "btn btn-primary"%>
